{% extends '::base.html.twig' %}

{% block content %}
    <section class="content-header">
        <h1>
            {{ "error.403.title"|trans }}
        </h1>
    </section>

    <section class="content">
        <div class="error-page">
            <h2 class="headline text-yellow"> 403</h2>
            <div class="error-content">
                <h3><i class="fa fa-warning text-yellow"></i> {{ "error.403.header"|trans }}</h3>
                    <p>
                        {{ "error.403.message"|trans }}
                    </p>
            </div>
        </div>
    </section>
{% endblock %}
