{% extends '::base.html.twig' %}

{% block content %}
    <section class="content-header">
        <h1>
            {{ "error.500.title"|trans }}
        </h1>
    </section>

    <section class="content">
        <div class="error-page">
            <h2 class="headline text-red">500</h2>
            <div class="error-content">
                <h3><i class="fa fa-warning text-red"></i>{{ "error.500.header"|trans }}</h3>
                <p>
                    {{ "error.500.message"|trans }}
                </p>
            </div>
        </div>

    </section>
{% endblock %}
